@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
        url('../fonts/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Medium.woff2') format('woff2'),
        url('../fonts/FiraSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
	background-color: #ede9e0;
	width: 1174px;
	font-family: 'Roboto';
	margin: auto;
}
.container {
	width: 1024px;
	margin: auto;
}

.header-container {
	background-image: url("../img/dog.png");
	background-repeat: no-repeat;
	background-position-x: 15px;
	height: 637px;
	
	display: flex;
	flex-direction : column;
}

.logo {
	margin-top:  10px;
	margin-left: 30px;
}
.menu{
	display: flex;
	flex-direction: row;
}
.main-nav { 
	font-size: 16px; 
	color: #202020;
	font-family: 'Roboto';


	display: flex;
	display: inline-flex;
	align-items: baseline;
	justify-content: flex-end;
}

.nav-item {
	margin: 14px;

	
	display: flex;
	display: inline-flex;
	justify-content: flex-end;
}

.nav-item:first-child {
	margin: 0 14px 0 200px;
}

.nav-link {
	list-style: none;
	color: #202020;
	text-decoration: none;
}
.nav-link:hover {
	color: #510fad;
}

.tel {
	margin: 14px;
	display: flex;
	justify-content: flex-end;
	
	color: #510fad;
}

.promo{
	display: flex;
	display: inline-flex;
	align-items: center;
	margin-left: 370px;
	margin-top: 90px;
}

.promo-title{
	font-family: 'Roboto';
	display: flex;
	flex-direction: column;

	
}
.main-title {
	font-family: 'Fira Sans';
	width: 600px;
	font-size: 48px;
	color: #202020;
	line-height: 60px;

}
.subtitle {
	color: #727173;
	width: 600px;
	border-left: solid;
	border-color: #510fad; 
	padding: 0 10px;
}


.about:before {
      position: absolute;
      content: '';
      display: block;
      width: 1024px;
      height: 78px;
      margin-top: -78px;

      background-image: url(../img/backround_shape_before.png);
      background-repeat: no-repeat;
}
.about:after {
      position: absolute;
      content: '';
      display: block;
      width: 1024px;
	  height: 108.7px;
      margin-top: 67.4px;

      background-image: url(../img/backround_shape_after.png);
      background-repeat: no-repeat;
}
.about {
	background-color: #510fad; 
	width: 1024px;
	height: 680px;
}

.about-main-container {

}

.about-head {
	font-family: 'Roboto';
	width: 360px;
	padding-top: 130px;
	display: flex;
	margin: auto;
	flex-wrap: wrap;
}

.about-title{
	font-family: 'Fira Sans';
	color: #fff;
	font-size: 36px;
	line-height: 20px;
}

.about-subtitle {
	color: #b8adc8;
	font-size: 16px;
	line-height: 30px;
}

.about-container {
	display: flex;
	flex-direction: row;
}

.about-list {
	font-family: 'Roboto';
	font-size: 16px;
	line-height: 30px;
	color: #b8adc8;
	padding-top: 15px;
	font-weight: normal;
}
.about-item {
	font-size: 16px;
	line-height: 30px;
	color: #fff;
	margin-top: 10px;
}

.about-link {
	color: #ffec00;
	text-decoration: none;

	display: flex;
	font-family: 'Fira Sans';

	margin-top: 80px;
    margin-left: 23px;
}
.about-dog {
	margin-left: 41px;
	margin-top: 15px;

	box-shadow: 3px 14px 27px -9px rgba(0,0,0,0.7);
	border-radius: 10px;
}

.about-dog:hover {
	box-shadow: 14px 13px 32px -3px rgba(0,0,0,0.75);
}

.about-arrow-forward {
	margin-left: 18px;
}

.dogs {
	width: 1024px;
	margin: 60px 0;

	margin-top: 200px;
}

.dogs-title {
	font-family: 'Fira Sans';
	font-size: 36px;
	line-height: 20px;
	display: flex;
	justify-content: center;
}
.all-breeds {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px 0;
}

.dogs-item {
	width: 450px;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	font-family: 'Roboto';
	font-size: 16px;
	margin: 10px;
}

.dogs-item-title{
	font-family: 'Fira Sans';
	font-size: 24px;
	line-height: 20px;
	color: #202020;
}
.dogs-item-photo {
	border-radius: 50%;
}

.dogs-text {
	width: 295px;
	float: right;
	line-height: 30px;
	color: #737274;
}

.dogs-link {
	width: 350px;
	font-family: 'Fira Sans';
	text-decoration: none;
	text-transform: uppercase;
	color: #703bb7;
}

.dogs-link:hover {
	color: #737274;
}

.dogs-text-descr {
	margin-top: 0;
}
.reviews {
	padding: 80px 0;
}
.reviews-title{
	font-family: 'Fira Sans';
	font-size: 36px;
	line-height: 20px;
	display: flex;
	justify-content: center;
}

.reviews-item {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family: 'Roboto';
	font-size: 16px;

	background-image: url(../img/“.svg);
	background-repeat: no-repeat;
	background-position-x: 70px;
}

.reviews-1 {
	width: 456px;
	font-family: 'Roboto';
	font-size: 16px;
	line-height: 30px;
	padding-top: 60px;
	padding-left: 20px;
}

.reviews-name {
	font-family: 'Fira Sans';
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}
.reviews-data {
	font-style: italic;
	color: #838282;
}

.reviews-photo {
	padding-top: 35px;
	padding-left: 10px;
}
.reviews-photo-item1 {
	border-radius: 10px;
	box-shadow: 3px 14px 27px -9px rgba(0,0,0,0.7);
}

.reviews-photo-item1:hover {
	box-shadow: 14px 13px 32px -3px rgba(0,0,0,0.75);
}
.reviews-caption {
	font-family: 'Roboto';
	font-size: 16px;
	line-height: 30px;
	font-style: italic;
	color: #737274;
	/*padding-left: 40px;*/
}

.dog-info {
	background-image: url(../img/background_dog-info.png);
	height: 500px;
	width: 1024px;
}

.dog-info-wrap {
	display: flex;
	flex-direction: row;
	align-content: center;
	padding: 100px 45px;

}


.dog-info-title {
	font-family: 'Fira Sans';
	font-size: 36px;
	line-height: 20px;
	color: #ffffff;
}

.about-dogs-text {
	color: #b1a2c6;
	font-family: 'Roboto';
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 50px;
}


.dog-info-icons-list {
	padding-top: 40px;
/*	margin:  10px;*/

}
.dog-info-icons-list-item {
	margin: 4px;
}

.dog-info-articles {
	display: flex;
	flex-direction: row;
	margin: 20px;
	margin-top: 0;
}

.dog-info-ration, .dog-info-depression {
	width: 220px;
	height: 290px;
	overflow: hidden;
	border-radius: 10px;
	background-color: #fff;
	margin: 10px;
	box-shadow: 3px 14px 27px -9px rgba(0,0,0,0.7);
}

.dog-info-ration:hover, .dog-info-depression:hover {
	box-shadow: 14px 13px 32px -3px rgba(0,0,0,0.75);
}

.ration-text, .depression-text {
	font-family: 'Roboto';
	font-size: 16px;
	line-height: 30px;
	padding-left: 10px;
}

.ration-link, .depression-link {
	font-family: 'Fira Sans';
	font-size: 14px;
	line-height: 30px;
	padding-left: 10px;
}

.ration-link-read_more {
	text-decoration: none;
	font-size: 14px;
	line-height: 30px;
	color: #5c11c5;
}

.ration-arrow {
	margin-left: 10px;
}
.contacts {
	height: 490px;
	margin: 45px;
	margin-top: 145px;
}
.contacts-title {
	font-family: 'Fira Sans';
	color: #202020;
	font-size: 36px;
	line-height: 30px;
}

.contacts-wrap {
	display: flex;
	flex-wrap: wrap;
}

.contacts-item {
	width: 49%;
}

.contacts-info {
	font-family: 'Fira Sans';
	font-size: 14px;
	line-height: 30px;
	font-weight: bolder; 
	color: #737274;
}

.contacts-additional-info {
	color: #202020;
	font-family: 'Roboto';
	font-size: 16px;
	line-height: 30px;
}

.footer-wrap {
	width: 940px;
	border-top: 2px solid #d5d1ca;
	margin: auto;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

}

.footer-nav {	
	font-size: 16px; 
	color: #202020;
	font-family: 'Roboto';


	display: flex;
	display: inline-flex;
	align-items: baseline;
	justify-content: flex-end;
}

.footer-nav-list {
	padding-left: 0;
}

.footer-nav-item {
	font-family: 'Roboto';
	font-size: 16px;
	margin: 14px;
	margin-left: 0;
	
	display: flex;
	display: inline-flex;
}

.footer-nav-link {
	list-style: none;
	color: #737274;
	text-decoration: none;
}

.footer-social-icons {
	display: flex;
	flex-direction: row;
}

.footer-icons-item {
	margin-left: 9px;
}

.btn {
	box-sizing: border-box;	
	border: 0;
	background-color: transparent;
	box-shadow: none;
	padding: 0;
	height: 40px;	
	line-height: 40px;	
	padding: 0 30px;	
	border: 1px solid orange;
	background-color: orange;
	color: #111111;
	font-size: 16px;	
	letter-spacing: 1.1;
	display: inline-block;	
	cursor: pointer;
}
.btn:hover {
	opacity: 	0.9;
}
.btn:avtive {

}
.btn:focus {
	outline: 0;
}